h1 {
  color: red;
}

#table-heading {
  color: blueviolet;
}
table {
  width: 100%;
}
#emp-details {
  width: 50%;
}

table,
th,
td {
  /* border width      border-style      boredr-color */
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: bisque;
  border-radius: 5px;
}

.emp-title {
  text-align: right;
}

.details {
  color: pink;
}

* {
  color: brown;
}

td:hover {
  background-color: red;
  color: white;
}
td:last-child,
th:nth-child(3) {
  background-color: aqua;
}
